.modal {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 28px 36px 28px;
}

.modal__close {
  background-image: url(../../images/Close.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.modal__title {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  position: relative;
  top: -24px;
  margin-bottom: 0;
}

.modal__submit {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 16px 8px 16px;
  margin-top: 32px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
