.modal_type_delete {
  height: 280px;
  display: flex;
  text-align: center;
}

.modal__label_delete {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 34px;
  padding-left: 36px;
}

.modal__cancel-button {
  font-size: 1.25rem;
  background-color: transparent;
  color: #000;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.modal__button_type_delete {
  font-size: 1.25rem;
  position: absolute;
  left: 155px;
  top: 150px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}
