/* .card_section {
} */

.card__name {
  text-align: center;
  background-color: #efefef;
  border-radius: 4px;
  position: relative;
  top: -320px;
  left: 106px;
  padding: 2px 12px 2px 12px;
  width: fit-content;
  font-size: 16px;
  margin: 0;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card__like-button {
  background-image: url(../../images/LikeButton.svg);
  position: relative;
  border: none;
  width: 20px;
  height: 18px;
  left: 8px;
  top: 3px;
  cursor: pointer;
}

.card__like-button-active {
  background-image: url(../../images/LikeButtonActive.svg);
  position: relative;
  border: none;
  width: 20px;
  height: 18px;
  left: 8px;
  top: 3px;
  cursor: pointer;
}

.card__holder {
  background-color: #e9e9e9;
  width: 325px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}
